* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}

/* Project NO : 1 BUTTON CLICK ON OFF */
/* 
#OFF {
    height: 100px;
    width: 100px;
    color: red;
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: larger;
}
.ON {
    height: 100px;
    width: 100px;
    background-color: yellowgreen;
    color: red;
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: larger;
} */



/* Project NO : 4 USE  KEYDOWN EVENTLISNER. */
/* #box{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #222;
}
h1{
    color:red;
    font-size: 10rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    user-select: none;
    font-weight: 300;
} */



/* 
Project NO : 5 USE  OF CLICK AND CHANGE EVENTLISTENER.
#file{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input{
    display: none;
}
#btn{
    text-transform: capitalize;
    height: 60px;
    min-width: 120px; 
    background-color: aqua;
    border:none;
    font-weight: 500;
    font-size: large;
} */


/* 
Project NO : 6 USE  OF SUBMIT EVENTLISTENER. IF WE SUBMIT FORM THEN APEAR NEW CARD WITH FORM VALUES .
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
#main {
    padding: 100px 100px;
}
.profile {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50px;
}
.profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card {
    position: relative;
    top: 10px;
    height: 200px;
    max-width: 200px;
    background-color: aquamarine;
    padding: 10px;
} */



/* 
Project NO : 7 USE  OF MOUSEOVER EVENTLISTENER. IF WE MOVE MOUSE  THEN WITH OVER DIV MOVE WITH MOUSE MOVEMENT.
#box{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: yellow;
    
} */




/* 
 Project NO : 9 PRACTICE BUBLING CONCET.
.l{
    text-decoration: line-through;
}
ul{
    padding: 100px 100px;
    font-size: large;
    text-transform: capitalize;
} */



 /* Project NO : 10 COUNT CHARCTERS.
#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
   
}
input{
    height: 30px;
} */



/* 
Project NO : 11 CREATE A FORM VALIDATOR.
body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f2f2f2;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:300px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
width:100%;
padding:10px;
margin-top:15px;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
margin-top:20px;
border:none;
background:#007bff;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

.error{
color:red;
font-size:14px;
text-align:left;
margin-top:5px;
} */





/* Project NO : 13 USE OF SETITERVAL AND CLEARINTERVAL TO CREATE A COUNTER PROGRESS BAR .
body{
    font-family: Arial, Helvetica, sans-serif;
    background:gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#container{
    background-color:white ;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

#progress-box{
    width: 100%;
    height: 20px;
    margin-top: 7px;
    overflow: hidden;
    border-radius: 20px;
 
}

#progress-bar{
    background-color:aqua;
    width: 0%;
    height:100% ;
    background:linear-gradient(90deg,#4facfe,#00f2fe);
}

p{
    margin-top: 5px;
} */







h1{
    color: red;
}
body {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
}


.main{
    align-items: center;
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 10px;
    height: 30px;
    width: 200px;
    
}



.cards{
  display: flex;
  gap: 20px;
}


.card {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blurred-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  filter: blur(10px);
  z-index: 1;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-size: 100% 100%;
  mask-repeat: no-repeat;

  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
}

.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: red;
  z-index: 2;
}

.content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.content p {
  font-size: 14px;
  line-height: 1.4;
}

 
