* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}

.to-do-list-container{
    height:400px;
    width: 400px;
   background-color: aquamarine;
    padding: 0px;
    margin: 0px;
}
.input-task{
    width: 350px;
    height: 30px;
}
.task-item{
    list-style: none;
}
.add-btn{
    height: 30px;
    width: 40px;
    margin-left:0px;
}
.complete-checkbox{
    height:40px ;
}
.task-text{

    height: 20px;
    margin-left: 5px;

}
.task-item{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    top: 10px;
}
.edit-btn{
position: absolute;
right: 0px;
height: 30px;
width: 41px;
}
.delete-btn{
position: absolute;
right: 41px;
height: 30px;
}
